body{
    font-family: 'Open Sans', sans-serif;
    position: fixed;
}
button:focus-visible{
    outline: none;
    border: none;
}
#header{
    width: 100%;
    height: 70px;
}
#header > p{
    font-size: 15px;
}
.saketa-name{
    width: 130px;
}
.saketa-logo{
    align-items: center;
    margin: auto 5px;
}
.p-onleft{
    font-size: 15px;
    height: 70px;
    margin-top: 10px;
    margin-left: -10px;
}
.p-onright{
    display: inline-flex;
    font-size: 20px;
    font-weight: 300;
    height: 80px;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 35px;
}
p.pone span{
    display:block;
    font-size: 27px;
    font-weight: 300;
    color:#57C9FD ;
}
.p-onright .p-two{
    margin-right: 5px;
    font-size: 20px;
}
.p-two span{
    color: #57C9FD;
}
.andrewImg{
    width: 65px;
    height: 75px;
    float: right;
}

.hline hr {
    width: 99%;
    margin: 8px 5px;
}
.filters{
    padding: 10px 20px 10px 20px;
    width: 200px;
    margin-left: 20px;
}
.filters ul{
    list-style-type: none;
    font-size: 14px;
    margin-left: -45px;
    cursor: pointer;
}
.filters button{
    background:none;
    border: none;
    cursor: pointer;
    display: block;
}
.filters p{
    font-weight: bold;
    margin: 8px 0px;
}
.filters div:nth-last-child(2){
    margin: 30px 0px;
}
.filters{
    margin-right: 10px;
    margin-top: -20px;
}
.filtersbackgrndclr{
    width: 200px;
    border-radius: 10px;
    background-color: #57C9FD;
}
#viewmore-btn{
    margin-left: -5px;
    font-size: 12px;
    color:#02aaf2 ;
    padding: 5px;
}
.main-section{
    width: 1100px;
    margin-left: 50px;
    margin-right: 0px;
    
}
.iconimg{
    width: 25px;
    height: 25px;
}
.buttons-container{
    width: auto;
    margin-left: 0px;
}
.buttons-container .allbtn{
    position: inherit;
    display: inline-block;
    width: 38px;
    height: 35px;
    margin-right: -2px;
}
.buttonContainer button{
    background-color: #00B1FC;
    border: none;
    cursor: pointer;
    color: white;
    width: 37px;
    height: 36px;
    margin: 1.1px;
    outline: none;
}
.search-manager{
    margin: 20px -5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}
.dropdown-container{
    padding: 2px;
}
.search-container{
    display: inline;
    padding: 2px;
}
.form-label{
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    margin: auto 5px;
}
.search{
    height: 40px;
    width: 240px;
    outline: none;
    font-size: 14px;
    margin-left: 5px;
}
.clear-btn{
    width: 80px;
    height: 40px;
    background-color: #69BA00;
    color: white;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}
#filter-label{
    margin-left: 40px;
}
.dropdown-holder{
    height: 40px;
    width: 200px;
    margin-left: 7px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.dropdown-holder *{
    background-color: aliceblue;
}
.addemp-btn{
    display: inline-flex;
    width: 200px;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 130px;
}
#add-btn{
    height: 40px;
    width: 150px;
    border: none;
    background-color: #00B1FC;
    color: white;
    cursor: pointer;
}
.note{
    font-size: 13px;
    margin-left: 4px;
}
.profile img{
    width: 70px;
    height: 64px;
}
.profile{
    background-color: #E9E8E8;
    display: inline-flex;
    width: 240px;
    padding: 6px 9px;
    margin: 10px 8px;
    height: 75px;
}
.emp-details{
    font-size: 12px;
    margin-left: 10px;
}
.jobdept-labels p{
    font-size: 10px;
    margin-bottom: 0px;
}
.emp-name{
    font-weight: bold;
    font-size: 12px;
}
.profile-set{
    flex-wrap: wrap;
    overflow: scroll;
    border: 1px solid rgb(189, 189, 189);
    width: 1060px;
    height: 340px;
    padding-left: 16px;
    padding-right: 0px;
}
.icons i{
    font-family: Arial,FontAwesome;
    color: #969595;
    font-size: 10px;
    margin: 2px;

}
::-webkit-scrollbar{
    overflow: hidden;
}
.addemp-popup{
    width:100%;
    height: 640px;
    background:rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.addemp-popup p{
    margin:3px 0px;
}
.popup-form{
    width: 400px;
    height: auto;
    background: whitesmoke;
    position: relative;
    margin: auto;
    align-items: center;
    padding: 15px;
    font-size:14px ;
    border-radius: 10px;
    border: 1px solid rgb(72, 70, 70);
}
.closeicon{
    width: 20px;
    position: absolute;
    float: right;
    right: -3px;
    top: -5px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
}
.popup-form span{
    color: red;
}
.popup-form input{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
.submitbtn{
    height: 35px;
    width: 170px;
    margin: auto;
    text-align: center;
    margin-left: 100px;
    margin-top: 5px;
    border: none;
    background-color:#00B1FC;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}